@font-face {
    font-family: "SF Pro";
    src: url(https://icarr-cdn.s3-eu-west-1.amazonaws.com/fonts/SF-Pro-Text-Regular.otf);
  }

*, 
*:before, 
*:after { 
  margin: 0; 
  padding: 0; 
  /* box-sizing: inherit; */
}

body { 
  box-sizing: border-box;
}

html { 
  font-size: 12px; 
}


